[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
scrapyd = "*"
scrapydweb = "*"
stashapp-tools = "*"
notebook = "*"
pandas = "*"
cloudscraper = "*"
warcio = {extras = ["all"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
